* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
section h2{
    text-align: center;
}

footer {
    display: grid;
    grid-template-areas: "about-us image-references contact-us"
                          "copyright copyright copyright";
    background-color: black;
    width: 100%;
    height: 20%;
    color: whitesmoke;
    padding: 20px
}

#aboutUs{
    grid-area: about-us;
    border-right: 2px solid grey;
    text-align: center;
}
.refernces{
    grid-area: image-references;
    border-right: 2px solid grey;
    text-align: center;
}
.contact{
    grid-area: contact-us;
    border-right: 2px solid grey;
}
header{
    width: 100%;
    height: 10%;
    position: relative;
    
}

h6{
    margin: 0;
    padding: 0;
    height: 0;
}

header::after{
    content: "";
    background: url(images/ales-krivec-QnNqGoCnBg0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


iframe{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    border: 0;
}

.logo{
    position: relative;
    float: left;
    height: 150px;
    border-radius: 50%;
    
}

header h1 {
    font-family: 'New Tegomin', serif;
    color: white;
    text-align: left;
    font-size: 80px;
    margin: 0;
    height: 180px;
    margin-left: 180px;
}

header img {
    padding: 10px;
}

#navigation {
    display: inline-block;
    position: sticky;
    top: 0;
    text-align: center; 
    font-family: Risque;
    background-color: burlywood;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 8%;
}
#navigation a{
    display: inline-block;
    
    padding: 12px 45px;
    height: 100%;
    /* background-color: peru; */
    color :saddlebrown;
    text-align: center;
    text-decoration: none;
    /* transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out; */
    
}

#navigation a:hover:not(.activePage){
    background-color: peru;
    color: white;
    height: 100%;
    
    /* border-radius: 8px; */
    /* transform: scale(1.4); */

}

#navigation .activePage{
    
    border-bottom: 3px solid peru;
   
}
.welcome{
    
    font-size: 1.5em;
    position: relative;
    color: black;
    background-color: burlywood;
    left: 40px;
    top: 20px;
    padding: 15px;
    width: fit-content;
    border-radius: 15px 0 0 15px;
    /* display: inline-block; */
    /* margin: 30px 0 0 40px; */
}

.welcome p {
    font-size: medium;
    padding-bottom: 17px;
    border-bottom: 2px solid black;
}

.welcome h1 {
    margin: 10px 0 ;
}

/* .welcome button{
    text-align: center;
    float: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 0.8em;
} */

.featured-items{
    /* display: inline-flex; */
    position: relative;
    top: -201px;
    left: 437px;
    padding: 20px;
    text-align: center;
    width: 60%;
    height: 80%;
    /* margin: 0 auto; */
        
}

.featured-items::after{
    content: "";
    background-color: whitesmoke;
    opacity:0.8;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.grid{
    display: grid;
    width: 80%;
    /* height: fit-content;  */
    grid-template-columns: repeat(3,1fr);
    margin: 0 auto;
    gap:30px;
    justify-content: space-around;
}

.grid article{
  height: auto;
  width: 100%;
  border: 2px solid black;
  
}

article img{
    /* display: inline-flex;
    flex-shrink: 0; */
    height: auto;
    width: 100%;
}

.home{
    background-image: url(./product-images/nick-karvounis-jN_M0McVNeI-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1920px;
    height: 650px;
    display: inline;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 1024px) {
    footer{
        height: 80%;
    }
    body{
        font-size: 14px;
        width: 100%;
    }
    
  .featured-items{
      position: relative;
      top: 50px;
      left: 0px;
      width: 100%;
      border-radius: 15px;
  }
  .welcome{
      margin-left: 10px;
      border-radius: 15px;
      font-size: x-small;
  }
 


}

.dropbtn {
    background-color: #3498DB;
    color: whitesmoke;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      
    display: none;
    position: absolute;
    background-color: burlywood;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  #navigation .dropdown-content a {
    text-align: left;  
    color: saddlebrown;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  .show {display: block;}
  @media screen and (max-width: 800px) {
    body{
        font-size: 14px;
        width: 100%;
    }
    
    .featured-items{
        position: relative;
        top: 20px;
        left: 0px;
        width: 100%;
        border-radius: 15px;
    }
    .welcome{
        margin: 10px auto;
        border-radius: 15px;
        font-size: x-small;
    }
   


  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
   
    .grid {
        display: grid;
        grid-template-columns: auto;
        position: relative;
        left: 10px;
        font-size: x-small;
      }
      .welcome{
          position: static;
          margin: 5 auto;
          border-radius: 15px;
          font-size: x-small;
      }
      header h1{
          visibility: hidden;
      }
      .logo{
          margin-left: 31%;
      }
      footer{
          font-size: x-small;
      }
      #navigation a {
          display: none;
          position: static;
      }
  }

  /* (A) ENTIRE PAGE */
#cart-wrap {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 0 auto;
    max-width: 1000px;
  }
  input.cart, button.cart {
    font-weight: bold;
    font-size: 1em;
    padding: 10px; 
    border: none;
    color: #fff;
    background: #d64107;
    cursor: pointer;
  }
  
  /* (B) PRODUCTS LIST */
  #cart-products {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    padding: 10px;
  }
  .p-item {
    padding: 10px;
    border: 1px solid #aaa;
    text-align: center;
  }
  .p-name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }
  .p-img { max-width: 180px; }
  .p-desc {
    color: #777;
    font-size: 0.9em;
    line-height: 1.5em;
  }
  .p-price {
    font-weight: bold;
    font-size: 1.1em;
    margin: 10px 0;
  }
  input.p-add { width: 80%; }
  
  /* (D) CURRENT SHOPPING CART */
  #cart-items {
    padding: 10px;
    background: #f1f1f1;
  }

  .empty-cart {
    text-align: center;
    padding: 5px 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: gray;
  }
  .c-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .c-name {
    width: 100%;
    font-size: 1.3em;
    line-height: 1.5em;
  }
  .c-del { width: 20%; }
  .c-qty {
    width: 75%;
    font-size: 1em;
  }
  input.c-empty, input.c-checkout {
    width: 100%;
    margin-top: 10px;
  }
  
  /* (E) RESPONSIVE */
  @media screen AND (max-width: 768px) {
    #cart-wrap { grid-template-columns: 60% 40%; }
    #cart-products { grid-template-columns: auto; }
  }

  #loginContainer{
    margin: 60px auto;
    width :30%;
    height: 40%;
    border-radius: 15px;
    border: 3px solid saddlebrown;
    padding: 15px;
  }

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.sub {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}