* {
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 10%;
    position: relative;
    
}

header::after{
    content: "";
    background: url(/images/ales-krivec-QnNqGoCnBg0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


iframe{
    height: 100%;
    width: 100%;
}

.logo{
    position: relative;
    float: left;
    height: 150px;
    border-radius: 50%;
    
}

header h1 {
    font-family: 'New Tegomin', serif;
    color: white;
    text-align: left;
    font-size: 80px;
    margin: 0;
    height: 180px;
    margin-left: 180px;
}

header img {
    padding: 10px;
}

#navigation {
    display: inline-block;
    position: sticky;
    text-align: left; 
    font-family: Risque;
    background-color: burlywood;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 3em;
}
#navigation a {
    display: inline-block;
    padding: 15px 45px;
    height: 100%;
    /* background-color: peru; */
    color :saddlebrown;
    text-align: center;
    text-decoration: none;
    /* transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out; */
    
}

#navigation a:hover:not(.activePage){
    background-color: peru;
    color: white;
    height: 100%;
    
    /* border-radius: 8px; */
    /* transform: scale(1.4); */

}
/* #navigation a:first-child{
    border-left: 1px solid black;
   
}
#navigation a:last-child{
    border-right: 1px solid black;
} */

#navigation .activePage{
    
    border-bottom: 3px solid peru;
   
}

 #navigation img{
     height: 100%;
     width:70px;
     float:right;
     padding:2px
}