* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

footer {
    background-color: black;
    width: 100%;
    height: 20%;
    color: whitesmoke;
    padding: 20px
}

header{
    width: 100%;
    height: 10%;
    position: relative;
    
}

h6{
    margin: 0;
    padding: 0;
}

header::after{
    content: "";
    background: url(/images/ales-krivec-QnNqGoCnBg0-unsplash.jpg);
    background-size: cover;
    background-position: center;
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


iframe{
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    border: 0;
}

.logo{
    position: relative;
    float: left;
    height: 150px;
    border-radius: 50%;
    
}

header h1 {
    font-family: 'New Tegomin', serif;
    color: white;
    text-align: left;
    font-size: 80px;
    margin: 0;
    height: 180px;
    margin-left: 180px;
}

header img {
    padding: 10px;
}

#navigation {
    display: inline-block;
    position: sticky;
    top: 0;
    text-align: center; 
    font-family: Risque;
    background-color: burlywood;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 3em;
}
#navigation a{
    display: inline-block;
    padding: 15px 45px;
    height: 100%;
    /* background-color: peru; */
    color :saddlebrown;
    text-align: center;
    text-decoration: none;
    /* transition-property: color, background-color;
    transition-duration: 1s;
    transition-timing-function: ease-out; */
    
}

#navigation a:hover:not(.activePage){
    background-color: peru;
    color: white;
    height: 100%;
    
    /* border-radius: 8px; */
    /* transform: scale(1.4); */

}
/* #navigation a:first-child{
    border-left: 1px solid black;
   
}
#navigation a:last-child{
    border-right: 1px solid black;
} */

#navigation .activePage{
    
    border-bottom: 3px solid peru;
   
}
.welcome{
    
    font-size: 1.5em;
    position: relative;
    color: black;
    background-color: burlywood;
    left: 2.5%;
    top: 6%;
    padding: 15px;
    width: fit-content;
    border-radius: 15px 0 0 15px;
    /* display: inline-block; */
    margin-right: 90px;
}

.welcome p {
    font-size: medium;
    padding-bottom: 17px;
    border-bottom: 2px solid black;
}

.welcome h1 {
    margin: 10px 0 ;
}

/* .welcome button{
    text-align: center;
    float: center;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 0.8em;
} */

.featured-items{
    display: inline-block;
    position: relative;
    bottom:20%;
    left: 23%;
    padding: 20px;
    text-align: center;
    width: 60%;
    height: 80%;
    
    
    
}

.featured-items::after{
    content: "";
    background-color: whitesmoke;
    opacity:0.9;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.grid{
    display: grid;
    width: 80%;
    /* height: fit-content;  */
    grid-template:1fr 1fr/ repeat(3,1fr);
    margin: 0 auto;
    gap: 80px 30px;
    justify-content: space-around;
}

.gridItem{
    display: inline-flex;
    flex-shrink: 1;
    height: 120%;
    width: 80%;
}

.home{
    background-image: url(./images/nick-karvounis-jN_M0McVNeI-unsplash.jpg);
    background-repeat: no-repeat;
    width: 100%;
    max-width: 1920px;
    height: 650px;
    background-position: cover;
    display: inline-block;
}
